In [76]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM
from keras.callbacks import EarlyStopping
import time
import seaborn as sns
import matplotlib.pyplot as plt

In [77]:
data = pd.read_csv('train-data.csv')
#data.columns = ['Positon X', '-']

In [78]:
data.head()

   Position X
0    -5247.64
1    -5246.81
2    -5244.54
3    -5240.81
4    -5235.62

In [79]:
data.dropna(inplace = True, axis = 1)

In [80]:
data.head()

   Position X
0    -5247.64
1    -5246.81
2    -5244.54
3    -5240.81
4    -5235.62

In [81]:
data.shape

(598, 1)

In [82]:
data.drop_duplicates(inplace= True)

In [83]:
data.head()

   Position X
0    -5247.64
1    -5246.81
2    -5244.54
3    -5240.81
4    -5235.62

In [84]:
data.to_csv('positions_wihtout_duplicates.csv', index = False)

In [85]:
data.shape

(598, 1)

In [86]:
scaler = StandardScaler()
data_scaled = scaler.fit_transform(data)

In [87]:
last_positions = []
real_position = []
for i in range(10, 598):
    last_positions.append(data_scaled[i-10:i, 0])
    real_position.append(data_scaled[i, 0])

In [88]:
last_positions, real_position = np.array(last_positions), np.array(real_position)

In [89]:
last_positions = np.reshape(last_positions, (last_positions.shape[0], last_positions.shape[1], 1))

In [90]:
model = Sequential()
model.add(LSTM(units = 100, return_sequences = True, input_shape = (last_positions.shape[1], 1)))
model.add(Dropout(0.3))

model.add(LSTM(units = 50, return_sequences = True))
model.add(Dropout(0.3))

model.add(LSTM(units = 50, return_sequences = True))
model.add(Dropout(0.3))

model.add(LSTM(units = 50, return_sequences = True))
model.add(Dropout(0.3))

model.add(LSTM(units = 50))
model.add(Dropout(0.3))

model.add(Dense(units = 1, activation = 'linear'))
model.compile(optimizer = 'rmsprop', loss = 'mean_squared_error', metrics = ['mean_absolute_error'])

In [91]:
t0 = time.time()
model.fit(last_positions, real_position, epochs= 100, batch_size = 32)
t1 = time.time()
delta = t1 - t0
delta = round(delta, 2)
print(f'O tempo de treino foi de: {delta}')

Epoch 1/100
19/19 [==============================] - 0s 7ms/step - loss: 0.2005 - mean_absolute_error: 0.2888
Epoch 2/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0409 - mean_absolute_error: 0.1481
Epoch 3/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0377 - mean_absolute_error: 0.1460
Epoch 4/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0386 - mean_absolute_error: 0.1509
Epoch 5/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0371 - mean_absolute_error: 0.1385
Epoch 6/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0351 - mean_absolute_error: 0.1379
Epoch 7/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0385 - mean_absolute_error: 0.1431
Epoch 8/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0315 - mean_absolute_error: 0.1285
Epoch 9/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0311 - mean_absolute_error: 0.1285
Epoch 10/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0329 - mean_absolute_error: 0.1307
Epoch 11/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0372 - mean_absolute_error: 0.1397
Epoch 12/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0298 - mean_absolute_error: 0.1273
Epoch 13/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0261 - mean_absolute_error: 0.1106
Epoch 14/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0290 - mean_absolute_error: 0.1221
Epoch 15/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0218 - mean_absolute_error: 0.1090
Epoch 16/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0372 - mean_absolute_error: 0.1432
Epoch 17/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0214 - mean_absolute_error: 0.1020
Epoch 18/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0320 - mean_absolute_error: 0.1292
Epoch 19/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0257 - mean_absolute_error: 0.1186
Epoch 20/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0281 - mean_absolute_error: 0.1223
Epoch 21/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0244 - mean_absolute_error: 0.1154
Epoch 22/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0311 - mean_absolute_error: 0.1274
Epoch 23/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0240 - mean_absolute_error: 0.1118
Epoch 24/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0263 - mean_absolute_error: 0.1219
Epoch 25/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0242 - mean_absolute_error: 0.1133
Epoch 26/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0259 - mean_absolute_error: 0.1185
Epoch 27/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0234 - mean_absolute_error: 0.1108
Epoch 28/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0235 - mean_absolute_error: 0.1109
Epoch 29/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0211 - mean_absolute_error: 0.1066
Epoch 30/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0278 - mean_absolute_error: 0.1240
Epoch 31/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0282 - mean_absolute_error: 0.1212
Epoch 32/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0255 - mean_absolute_error: 0.1141
Epoch 33/100
19/19 [==============================] - 0s 6ms/step - loss: 0.0212 - mean_absolute_error: 0.1066
Epoch 34/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0225 - mean_absolute_error: 0.1114
Epoch 35/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0225 - mean_absolute_error: 0.1110
Epoch 36/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0221 - mean_absolute_error: 0.1075
Epoch 37/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0312 - mean_absolute_error: 0.1255
Epoch 38/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0208 - mean_absolute_error: 0.1045
Epoch 39/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0253 - mean_absolute_error: 0.1150
Epoch 40/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0211 - mean_absolute_error: 0.1076
Epoch 41/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0228 - mean_absolute_error: 0.1126
Epoch 42/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0204 - mean_absolute_error: 0.1036
Epoch 43/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0223 - mean_absolute_error: 0.1109
Epoch 44/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0186 - mean_absolute_error: 0.1024
Epoch 45/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0230 - mean_absolute_error: 0.1076
Epoch 46/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0202 - mean_absolute_error: 0.1041
Epoch 47/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0180 - mean_absolute_error: 0.0997
Epoch 48/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0208 - mean_absolute_error: 0.1088
Epoch 49/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0186 - mean_absolute_error: 0.0984
Epoch 50/100
19/19 [==============================] - 0s 6ms/step - loss: 0.0240 - mean_absolute_error: 0.1131
Epoch 51/100
19/19 [==============================] - 0s 6ms/step - loss: 0.0175 - mean_absolute_error: 0.0968
Epoch 52/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0166 - mean_absolute_error: 0.0939
Epoch 53/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0167 - mean_absolute_error: 0.0986
Epoch 54/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0185 - mean_absolute_error: 0.1000
Epoch 55/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0193 - mean_absolute_error: 0.1048
Epoch 56/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0188 - mean_absolute_error: 0.1021
Epoch 57/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0220 - mean_absolute_error: 0.1064
Epoch 58/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0174 - mean_absolute_error: 0.0970
Epoch 59/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0170 - mean_absolute_error: 0.0979
Epoch 60/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0200 - mean_absolute_error: 0.1031
Epoch 61/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0171 - mean_absolute_error: 0.0949
Epoch 62/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0193 - mean_absolute_error: 0.1022
Epoch 63/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0202 - mean_absolute_error: 0.1020
Epoch 64/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0178 - mean_absolute_error: 0.0999
Epoch 65/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0181 - mean_absolute_error: 0.1027
Epoch 66/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0185 - mean_absolute_error: 0.0999
Epoch 67/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0188 - mean_absolute_error: 0.0978
Epoch 68/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0160 - mean_absolute_error: 0.0952
Epoch 69/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0186 - mean_absolute_error: 0.0983
Epoch 70/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0173 - mean_absolute_error: 0.0983
Epoch 71/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0175 - mean_absolute_error: 0.0948
Epoch 72/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0161 - mean_absolute_error: 0.0941
Epoch 73/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0194 - mean_absolute_error: 0.1037
Epoch 74/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0193 - mean_absolute_error: 0.1006
Epoch 75/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0180 - mean_absolute_error: 0.1019
Epoch 76/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0162 - mean_absolute_error: 0.0927
Epoch 77/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0155 - mean_absolute_error: 0.0933
Epoch 78/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0172 - mean_absolute_error: 0.0964
Epoch 79/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0147 - mean_absolute_error: 0.0894
Epoch 80/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0187 - mean_absolute_error: 0.1018
Epoch 81/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0167 - mean_absolute_error: 0.0962
Epoch 82/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0184 - mean_absolute_error: 0.1006
Epoch 83/100
19/19 [==============================] - 0s 6ms/step - loss: 0.0176 - mean_absolute_error: 0.0960
Epoch 84/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0185 - mean_absolute_error: 0.1030
Epoch 85/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0158 - mean_absolute_error: 0.0929
Epoch 86/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0142 - mean_absolute_error: 0.0886
Epoch 87/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0190 - mean_absolute_error: 0.0981
Epoch 88/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0144 - mean_absolute_error: 0.0874
Epoch 89/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0158 - mean_absolute_error: 0.0958
Epoch 90/100
19/19 [==============================] - 0s 8ms/step - loss: 0.0166 - mean_absolute_error: 0.0948
Epoch 91/100
19/19 [==============================] - 0s 6ms/step - loss: 0.0155 - mean_absolute_error: 0.0941
Epoch 92/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0151 - mean_absolute_error: 0.0929
Epoch 93/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0160 - mean_absolute_error: 0.0943
Epoch 94/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0160 - mean_absolute_error: 0.0957
Epoch 95/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0184 - mean_absolute_error: 0.1025
Epoch 96/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0143 - mean_absolute_error: 0.0889
Epoch 97/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0147 - mean_absolute_error: 0.0907
Epoch 98/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0142 - mean_absolute_error: 0.0888
Epoch 99/100
19/19 [==============================] - 0s 6ms/step - loss: 0.0181 - mean_absolute_error: 0.1006
Epoch 100/100
19/19 [==============================] - 0s 7ms/step - loss: 0.0158 - mean_absolute_error: 0.0937
O tempo de treino foi de: 19.13

In [92]:
data_test = pd.read_csv('test_data.csv')

In [135]:
data_test.head()

   Position X
0     4761.94
1     4777.94
2     4793.94
3     4809.94
4     4825.94

In [136]:
complete_base = pd.concat((data, data_test), axis = 0)

In [137]:
complete_base.shape

(633, 1)

In [138]:
inputs = complete_base[len(complete_base) - len(data_test) - 10:].values

In [139]:
inputs = inputs.reshape(-1,1)

In [140]:
inputs = scaler.transform(inputs)

In [141]:
inputs.shape

(45, 1)

In [160]:
x_test = []
for i in range(10, 45):
    x_test.append(inputs[i - 10:i, 0])
x_test = np.array(x_test)
x_test.shape

(35, 10)

In [161]:
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1))

In [162]:
t0 = time.time()
predictions = model.predict(x_test)
t1 = time.time()
delta = t1 - t0
delta = round(delta, 2)
print(f'O tempo para prever 35 posições é: {delta}')

O tempo para prever 35 posições é: 0.11

In [163]:
predictions = scaler.inverse_transform(predictions)

In [180]:
predictions

array([[4728.394 ],
       [4732.134 ],
       [4735.8037],
       [4739.4043],
       [4742.938 ],
       [4746.4062],
       [4749.8105],
       [4753.15  ],
       [4756.4224],
       [4759.635 ],
       [4762.819 ],
       [4766.0327],
       [4769.3345],
       [4772.7593],
       [4776.3057],
       [4779.9185],
       [4783.4746],
       [4786.2246],
       [4788.9287],
       [4791.5864],
       [4794.201 ],
       [4796.7725],
       [4799.3   ],
       [4801.787 ],
       [4804.2334],
       [4806.64  ],
       [4809.0083],
       [4811.3384],
       [4813.631 ],
       [4815.8877],
       [4818.1094],
       [4820.296 ],
       [4822.4507],
       [4824.5786],
       [4826.6865]], dtype=float32)

In [181]:
data_test.head()

   Position X
0     4761.94
1     4777.94
2     4793.94
3     4809.94
4     4825.94

In [182]:
data_test.shape

(35, 1)

In [183]:
predictions.shape

(35, 1)

In [184]:
data2compare = data_test.copy()

In [185]:
data2compare.shape

(35, 1)

In [186]:
def roundPredict(value):
    return round(value,2)
data2compare['Predictions'] = predictions
data2compare['Predictions'] = data2compare['Predictions'].apply(roundPredict)

In [187]:
data2compare.head()

   Position X  Predictions
0     4761.94      4728.39
1     4777.94      4732.13
2     4793.94      4735.80
3     4809.94      4739.40
4     4825.94      4742.94