In [1]:
import pandas as pd

In [26]:
data = pd.read_csv('test_mvp_with_vanishing.csv')

In [27]:
data.head()

   real_values  predict_values
0     -5251.44            0.00
1     -5251.44         2625.72
2     -5251.44         3938.58
3     -5251.44        -3282.15
4     -5251.44        -4266.80

In [28]:
data.shape

(1172, 2)

In [29]:
data.dropna(inplace= True)

In [30]:
data.drop_duplicates(inplace= True, subset = 'real_values')

In [31]:
data.shape

(644, 2)

In [32]:
data.head()

    real_values  predict_values
0      -5251.44            0.00
40     -5250.61        -5251.44
42     -5248.34        -5250.20
44     -5244.61        -5252.21
46     -5239.42        -5244.08

In [33]:
data.reset_index(inplace= True, drop= True)

In [34]:
data.head()

   real_values  predict_values
0     -5251.44            0.00
1     -5250.61        -5251.44
2     -5248.34        -5250.20
3     -5244.61        -5252.21
4     -5239.42        -5244.08

In [35]:
data.drop(index= 0, inplace= True)

In [36]:
data.head()

   real_values  predict_values
1     -5250.61        -5251.44
2     -5248.34        -5250.20
3     -5244.61        -5252.21
4     -5239.42        -5244.08
5     -5232.77        -5244.35

In [37]:
from sklearn.metrics import mean_absolute_error

In [38]:
mean_absolute_error(data['real_values'], data['predict_values'])

24.13449455676521